<div class="row m-2 p-2">
  <div class="col-9">
    <h2 class="text-primary">Employees List</h2>
  </div>
  <div class="col-3">
    <button class="btn btn-info form-control">
      <i class="fa fa-plus"></i>&nbsp;Add New Employee
    </button>
  </div>
</div>
<div class="container rounded border m-2 p-2">
  <div class="text-center">
  <table class="table table-bordered table-striped table-active">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
</div>
</div>
